@{
	ViewBag.Title = "Телефонный справочник";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

	string key = Request.QueryString.Get("q") ?? "";
	string sub = Request.QueryString.Get("sub") ?? (key == "" ? "Управление" : "");
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/phonebook.css?4" />
	<link rel="stylesheet" href="~/Content/css/big-photos.css" />
}

@using (var db = new SiteContext())
{
	var phones = new List<DatabaseLayer.Phonebook.Phone>();
	var guilds = new List<string>();

	using (var phonedb = new DatabaseLayer.Phonebook.PhonebookContext())
	{
		guilds = phonedb.Phones
			.Where(x => !string.IsNullOrEmpty(x.Guild))
			.OrderByDescending(x => x.GuildPriority)
			.Select(x => new { x.Guild, x.GuildPriority })
			.ToList()
			.GroupBy(x => x.Guild.Trim())
			.Select(x => x.Key)
			.ToList();

		phones = phonedb.Phones
			.Where(x => string.IsNullOrEmpty(key)
				? (x.Guild == sub)
				: (x.Name.Contains(key) || x.Guild.Contains(key) || x.InnerPhone.Contains(key) || x.Position.Contains(key) || x.Email.Contains(key) || x.OuterPhone.Contains(key)))
			.OrderByDescending(x => x.GuildPriority)
			.ThenByDescending(x => x.OrderPriority)
			.ToList();
	}

	var persons = db.Persons
		.Select(x => new
		{
			x.TabId,
			x.Family
		})
		.ToList();

	var vacations = db.Vacations
		.Where(x => x.DateStart <= DateTime.Today)
		.Where(x => x.DateEnd >= DateTime.Today)
		.ToList()
		.Select(x => new
		{
			Family = persons.FirstOrDefault(y => y.TabId == x.TabId)?.Family ?? "",
			x.DateStart,
			x.DateEnd,
		})
		.ToList();

	var dutyJorneys = db.DutyJourneys
		.Where(x => x.DateStart <= DateTime.Today)
		.Where(x => x.DateEnd >= DateTime.Today)
		.ToList()
		.Select(x => new
		{
			Family = persons.FirstOrDefault(y => y.TabId == x.TabId)?.Family ?? "",
			x.DateStart,
			x.DateEnd,
		})
		.ToList();

	<div class="left">

		<div class="menu open">
			<div class="menu_header">
				<table>
					<tr>
						<td>Подразделения</td>
					</tr>
				</table>
			</div>
			<div class="menu_body">
				@foreach (var guild in guilds)
				{
					string name = guild.Contains(")")
						? guild.Substring(guild.IndexOf(")") + 1)
						: guild;

					<a class="@(guild == sub ? "menu_active" : "")" href="~/phonebook/?sub=@guild">@name</a>
				}
			</div>
		</div>
	</div>

	<div class="center-right">

		<ul class="search">
			<li class="search_caption">Поиск: </li>
			<li>
				<form action="~/phonebook/" id="form">
					<input name="q" placeholder="Введите поисковый запрос..." value="@key" />
				</form>
			</li>
			<li class="search_button">
				<button onclick="$('#form').submit()">Искать</button>
			</li>
		</ul>

		<div class="view" id="view">
			@{
				if (phones.Count() == 0)
				{
					<div>По данному запросу ничего не найдено</div>
				}

				foreach (var phone in phones)
				{
					var vacation = vacations
						.Where(x => x.Family == phone.Name)
						.FirstOrDefault();

					var dutyJorney = dutyJorneys
						.Where(x => x.Family == phone.Name)
						.FirstOrDefault();

					<div class="block phone" style="min-height: 155px">
						<div class="phone-image">
							<img src="@phone.Image()" title="@phone.Name" onclick="getBigPhoto('@phone.Image(true)')" />
						</div>
                        <div class="phone-text">
                            @if (!string.IsNullOrEmpty(phone.Name))
                            {
                                <div class="blue">@phone.Name</div>
                                <div class="normal">@phone.Guild</div>
                                <div class="normal">@phone.Position</div>
                            }
                            else
                            {
                                <div class="blue">@phone.Position</div>
                                <div class="normal">@phone.Guild</div>
                                <div></div>
                            }
                            @if (!string.IsNullOrEmpty(phone.InnerPhone))
                            {
                                <div><span style="display: inline-block; width: 11em;">внутренний телефон: </span><span class="blue">@phone.InnerPhone</span></div>
                            }
                            @if (!string.IsNullOrEmpty(phone.OuterPhone))
                            {
                                <div><span style="display: inline-block; width: 11em;">городской телефон: </span><span class="blue">@phone.OuterPhone</span></div>
                            }
                            @if (!string.IsNullOrEmpty(phone.Email))
                            {
                                <div><span style="display: inline-block; width: 11em;">email: </span><a href="mailto:@phone.Email">@phone.Email</a></div>
                            }
                            @if (vacation != null)
                            {
                                <div class="red">Отпуск с @vacation.DateStart.ToString("dd.MM.yyyy") по @vacation.DateEnd.ToString("dd.MM.yyyy")</div>
                            }
                            @if (dutyJorney != null)
                            {
                                <div class="blue">Командировка с @dutyJorney.DateStart.ToString("dd.MM.yyyy") по @dutyJorney.DateEnd.ToString("dd.MM.yyyy")</div>
                            }
                        </div>
					</div>
				}
			}
		</div>
	</div>
}

<div id="big_photo" class="hide" onclick="document.getElementById('big_photo').style.display = 'none';">
	<div class="icon icon_hover ic-clear"></div>
	<img id="big_photo__photo" />
</div>

@section scripts {
	<script>
		function getBigPhoto(url) {
			if (url.indexOf('logo.png') > -1) return;
			try {
				document.getElementById('big_photo__photo').src = url;
				document.getElementById('big_photo').style.display = 'inline-block';
			}
			catch (e) { }
		}
	</script>
}