@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "Главная";

	var values = new Dictionary<string, string>();

	using (var db = new SiteContext())
	{
		db.Guests
			.Value(x => x.Ip, Request.ServerVariables.Get("REMOTE_ADDR"))
			.Value(x => x.UserAgent, Request.ServerVariables.Get("HTTP_USER_AGENT"))
			.Value(x => x.Date, DateTime.Now)
			.Insert();

		foreach (var constant in db.Constants.ToList())
		{
			values[constant.Keyword] = constant.Value;
		}
	}
}

<div class="left">
	<div class="block">
		<a href="~/phonebook" class="link bold">
			Телефонный справочник 
			<i class="material-icons preloader" id="preloader">sync</i>
		</a>
		<input type="search" class="search" placeholder="введите запрос и нажмите Enter" />
	</div>

	<div class="block">
		<a href="~/docs/О_филиале/Официальное_наименование/" class="link bold">Реквизиты</a>
		<p class="text">Телефон: <span class="blue">3-59</span></p>
		<p class="text">Факс: <span class="blue">37-34-41</span></p>
		<p class="text">Городской телефон: <span class="blue">+375 (212) 37-34-01</span></p>
		<p class="text">
			Email: <a href="mailto:vst@vitebsk.energo.net" class="blue">vst@vitebsk.energo.net</a>
		</p>
		<p class="text">
			<br />
			Режим работы:
			<br />
			понедельник-четверг: <span class="blue">8:00 - 17:00</span>
			<br />
			пятница: <span class="blue">8:00 - 15:45</span>
			<br />
			обед: <span class="blue">12:30 - 13:15</span>
			<br />
			выходные: <span class="blue">суббота, воскресенье</span>
		</p>
	</div>

	<div class="block">
		<a class="link bold" href="http://www.vst.vitebsk.energo.net/pages/weather/?date=@DateTime.Today.ToString("ddMMyyyy")">Прогноз погоды</a>
		@{
			try
			{
				var html = File.ReadAllText(@"\\web\wwwroot\Content\html\weather\index.html");
				<div>
					@Html.Raw(html)
				</div>
			}
			catch (Exception e)
			{
				<div class="hide">@e.Message</div>
			}
		}
		<p class="text" style="padding-top: .5em;">
			Текущая температура на улице <span id="weather" class="weather-table__temp blue">?</span> °C
		</p>
	</div>

	<div class="block">
		<a class="link bold">Курсы валют</a>
		<table class="money">
			<tr>
				<td width="40px"><img src="~/Content/images/money.rub.gif" /></td>
				<td>100 российских рублей</td>
				<td class="blue">@Convert.ToSingle(values["RUB"]).ToString("0.00")</td>
			</tr>
			<tr>
				<td><img src="~/Content/images/money.eur.gif" /></td>
				<td>1 евро</td>
				<td class="blue">@Convert.ToSingle(values["EUR"]).ToString("0.00")</td>
			</tr>
			<tr>
				<td><img src="~/Content/images/money.usd.gif" /></td>
				<td>1 доллар США</td>
				<td class="blue">@Convert.ToSingle(values["USD"]).ToString("0.00")</td>
			</tr>
		</table>
	</div>
</div>

<div class="right">
	<div id="contacts"></div>
	<div id="news">
		@Html.Action("News", new { take = 20 })
	</div>
</div>

@section styles {
	<link rel="stylesheet" href="~/Content/css/guest.css" />
}

@section scripts {
	<script>
		setInterval(function () {
			fetch('@Url.Action("weather", "guest")?r=' + Math.random())
				.then(function (res) { return res.text() })
				.then(function (text) { document.getElementById('weather').innerHTML = Number(text).toFixed(2) })
		}, 1000)

		document.addEventListener('click', function (ev) {
			var el = ev.target
			if (el.classList.contains('news-preview')) {
				var body = el.parentNode
				fetch('@Url.Action("body", "guest")?id=' + body.getAttribute('news-id'))
					.then(function (res) { return res.text() })
					.then(function (text) {
						body.innerHTML = text
					})
			}
		})

		var isLoading = false

		window.addEventListener('scroll', function () {
			if (isLoading) return

			var scrollHeight = Math.max(
				document.body.scrollHeight, document.documentElement.scrollHeight,
				document.body.offsetHeight, document.documentElement.offsetHeight,
				document.body.clientHeight, document.documentElement.clientHeight
			)
			if (scrollHeight - this.window.pageYOffset < 1200) {
				isLoading = true

				var news = document.querySelectorAll('[news-id]')
				var last = news.length > 0 ? (news[news.length - 1]).getAttribute('news-id') : 0

				fetch('@Url.Action("news", "guest")?take=10&skip=' + last)
					.then(function (res) { return res.text() })
					.then(function (text) {
						document.getElementById('news').insertAdjacentHTML('beforeend', text)
						isLoading = false
					})
			}
		})

		document.querySelector('.search').addEventListener('search', function (ev) {
			var value = ev.target.value
			if (value.length > 1) {
				preload()
				fetch('@Url.Action("contacts", "guest")?search=' + encodeURIComponent(value))
					.then(function (res) { return res.text() })
					.then(function (text) {
						if (text.length > 0) {
							show(text)
						}
						else {
							hide()
						}
					})
			}
			else {
				hide()
			}

			function preload() {
				document.getElementById('preloader').style.display = 'block'
			}

			function show(text) {
				document.getElementById('preloader').style.display = 'none'
				document.getElementById('news').style.display = 'none'
				document.getElementById('contacts').innerHTML = text
				document.getElementById('contacts').style.display = 'block'
			}

			function hide() {
				document.getElementById('preloader').style.display = 'none'
				document.getElementById('contacts').style.display = 'none'
				document.getElementById('contacts').innerHTML = ''
				document.getElementById('news').style.display = 'block'
			}
		})
	</script>
}