@{
	ViewBag.Title = "Список автомобилей";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/auto.css" />
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	if (!user.IsAutoHead)
	{
		<div class="error">
			Нет доступа к этому разделу
		</div>
		return;
	}

	var drivers = db.AutoDrivers.ToList();
	var cars = db.AutoCars.ToList();

	<div class="left">
		@{ string open = Request.Cookies.Get("auto-operations")?.Value ?? "1"; }
		<div class="menu @(open == "1" ? "open" : "")">
			<div class="menu_header" onclick="toggleMenu(this, 'auto-operations')">
				<table>
					<tr>
						<td>Операции</td>
						<td class="menu_arrow"><div class="icon ic-arrow-@(open == "1" ? "up" : "down")"></div></td>
					</tr>
				</table>
			</div>
			<div class="menu_body">
				<a href="~/auto/">Перейти к списку заявок</a>
				<a href="~/auto/cars/">Перейти к списку автомобилей</a>
			</div>
		</div>
	</div>

	<div class="center-right" id="view">

		<table class="auto_table">
			<thead>
				<tr>
					<th>Фамилия И.О.</th>
					<th>Номер мобильного</th>
					<th>Автомобиль по умолчанию</th>
					<th width="160px">Операции</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var driver in drivers)
				{
					<tr id="drivers_@driver.Id">
						<td><input value="@driver.Name" /></td>
						<td><input value="@driver.PhoneNumber" /></td>
						<td>
							<select>
								<option value="0">? не назначен</option>
								@foreach (var car in cars)
								{
									<option value="@car.Id" @(car.Id == driver.DefaultCarId ? "selected" : "")>@car.Model (@car.Number)</option>
								}
							</select>
						</td>
						<td>
							<button onclick="Drivers.save(@driver.Id, this)">Сохранить</button>
							<button onclick="Drivers.del(@driver.Id)">Удалить</button>
						</td>
					</tr>
				}
				<tr id="drivers_new">
					<td><input /></td>
					<td><input /></td>
					<td><input /></td>
					<td>
						<button onclick="Drivers.create(this)">Создать новую запись</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}

@section scripts {
	<script src="~/Content/js/auto.js"></script>
	<script>
		var source = '@Url.Action(null, "auto").ToLower()';
	</script>
}