@{
	ViewBag.Title = "Заказ авто";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/lib/widgets/datepicker.css?02.12.2019" />
	<link rel="stylesheet" href="~/Content/lib/widgets/jquery.timepicker.css" />
	<link rel="stylesheet" href="~/Content/css/auto.css" />
}

<div class="left">

	<div class="menu open">
		<div class="menu_header">
			<table>
				<tr>
					<td class="link bold">Операции</td>
				</tr>
			</table>
		</div>
		<div class="menu_body">
			@using (var db = new SiteContext())
			{
				var user = db.Authorize(User);

				if (user.IsAutoHead)
				{
					<a href="@Url.Action("drivers", "auto")">
						<span class="material-icons">badge</span> Перейти к списку водителей
					</a>
					<a href="@Url.Action("cars", "auto")">
						<span class="material-icons">drive_eta</span> Перейти к списку автомобилей
					</a>
					<a onclick="Auto.print()">
						<span class="material-icons">print</span> Распечатать заявку на завтра
					</a>
				}
				else
				{
					<a onclick="Auto.create()">
						<span class="material-icons">note_add</span> Создать заявку
					</a>
				}
			}
		</div>
	</div>

	<div class="widget">
		<b>Внимание!</b>
		Заявки на следующий день принимаются до 16:00 текущего рабочего дня.<br />
		<small>Основания: <a class="widget_bottom_link" href="~/Content/documents/п. 31 Приказа по филиалу от 22.09.2016 г. № 192.pdf">п. 31 Приказа по филиалу №192 от 22.09.2016 г.</a></small>
	</div>

	<div data-mode="view" class="menu open" id="news-filter">
		<div class="menu_header" onclick="toggleMenu(this, 'auto-filter')">
			<table>
				<tr>
					<td>Фильтр</td>
				</tr>
			</table>
		</div>
		<div class="menu_body">
			<input id="auto-date" value="@DateTime.Now.ToString("dd.MM.yyyy")" />
			<div onclick="Auto.step(-1)">На день назад</div>
			<div onclick="Auto.step(1)">На день вперед</div>
			<select id="mode" onchange="Auto.reload()">
				<option value="all">Все</option>
				<option value="accepted">Принятые</option>
				<option value="declined">Отклоненные</option>
				<option value="no_answer">Неотвеченные</option>
			</select>
			<label><input type="checkbox" id="self" onchange="Auto.reload()" />Только созданные лично</label>
			<div onclick="Auto.clear()">Сброс параметров</div>
		</div>
	</div>
</div>

<div class="center-right" id="view"></div>

@section scripts {
	<script src="~/Content/lib/jquery/jquery-1.12.4.min.js"></script>
	<script src="~/Content/lib/widgets/datepicker.js?02.12.2019"></script>
	<script src="~/Content/lib/widgets/jquery.timepicker.min.js"></script>
	<script src="~/Content/js/auto.js"></script>
	<script>
		var source = '@Url.Action(null, "auto").Replace("index/", "").ToLower()';
		Auto.reload(@(Request.QueryString.Get("id") ?? ""));

		new DatePicker({
			el: '#auto-date',
			onSelect: function () {
				Auto.reload()
			}
		})
	</script>
}