@model int?

@using (var db = new SiteContext())
{
	var id = Model ?? 0;

	var user = db.Authorize(User);

	var record = db.AccidentsRecords
		.FirstOrDefault(x => x.Id == id);

	var viewedDocs = db.AccidentDocs
		.Where(x => x.AccidentId == record.Id && x.UserId == user.UID)
		.ToList();

	if (record == null)
	{
		<div>Не найдено информационное сообщение по Id = @id</div>
		return;
	}

	<div>
		@record.Description
	</div>

	if (Directory.Exists(@"\\web\Files\Час ТБ\" + record.Id))
	{
		var files = Directory
			.GetFiles(@"\\web\Files\Час ТБ\" + record.Id)
			.Select(x => x.Substring(x.LastIndexOf("\\") + 1))
			.ToList();

		if (files.Count > 0)
		{
			foreach (var file in files)
			{
				var view = viewedDocs.FirstOrDefault(x => x.Link == file);

				if (view == null)
				{
					<span class="notes-highlight counter" style="display: none;">new</span>
				}

				<a onclick="setDocViewed(@record.Id, @user.UID, this)" target="_blank" href="http://www.vst.vitebsk.energo.net/files/Час ТБ/@Model/@file">@file</a>
			}
		}
	}
}