@model DateTime?

@using (var db = new SiteContext())
{
	var givenDate = Model ?? DateTime.Today;

	var user = db.Authorize(User);

	var weekDay = givenDate.DayOfWeek == DayOfWeek.Sunday
		? givenDate.AddDays(-6)
		: givenDate.AddDays(1 - (int)givenDate.DayOfWeek);

	var week = new SafetyWeekRecords(db, user, weekDay);
	ViewBag.IsRedactor = week.IsRedactor;

	if (week.IsRedactor)
	{
		<div style="display: flex; align-items: center; justify-content: space-around;">
			<a class="news-add" href="~/safety/create?date=@weekDay.ToString("dd.MM.yyyy")">Добавить информационное сообщение</a>
			<a class="news-add" href="@Url.Action("", "safety")">Перейти к списку</a>
		</div>
	}
	else if (week.Records.Count > 0)
	{
		var percentOfViewed = Math.Round(100 * (float)week.Views.Count / (float)week.Records.Count);
		string color = percentOfViewed == 100 ? "good" : "warn";
		<div></div>
		<div class="progress" title="Прочитано @percentOfViewed% (@week.Views.Count из @week.Records.Count)">
			<div class="@color" style="width: 0%;"> </div>
		</div>
	}

	if (week.Records.Count == 0)
	{
		<div class="block">Нет информационных сообщений для этой недели</div>
	}
	else
	{
		<div class="block">Список информационных сообщений для этой недели (@weekDay.ToString("dd.MM.yyyy"))</div>
	}

	foreach (var record in week.Records)
	{
		@Html.Partial("Accident", record)
	}
}