@{
	ViewBag.Title = "Списки рассылки";
	Layout = "~/Areas/Accidents/Views/Shared/_Layout.cshtml";
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	var canCreateRecords = db.AccidentsUsersLists
	   .Where(x => x.UserId == user.UID && x.Role == AccidentListRoles.Writer)
	   .Count() > 0;

	<div class="header">
		<span>Перечень списков рассылки, на которые вы подписаны, со счётчиками количества непрочитанных/общего количества сообщений</span>
		<a href="@Url.Action("", "records")">Перейти к "Часу ТБ"</a>
		@if (canCreateRecords)
		{
			<a href="@Url.Action("add", "records")">Добавить новое сообщение</a>
		}
		@if (user.IsAdmin)
		{
			<a href="@Url.Action("", "logs")">Перейти к записям активности</a>
			<a href="@Url.Action("", "list")">Перейти к настройке списков рассылки</a>
		}
	</div>

	var lists = (from x1 in db.AccidentsUsersLists.Where(x => x.UserId == user.UID)
				from x2 in db.AccidentsLists.InnerJoin(x => x.Id == x1.ListId)
				select new AccidentList
				{
					Id = x2.Id,
					Name = x2.Name,
					Role = x1.Role,
				}).ToList();

	<div>
		@foreach (var list in lists)
		{
			var query = from x1 in db.AccidentsRecordsLists.Where(x => x.ListId == list.Id)
						from x2 in db.AccidentsRecords.LeftJoin(x => x.Id == x1.RecordId)
						from x3 in db.AccidentsViews.LeftJoin(x => x.AccidentId == x2.Id && x.UserId == user.UID)
						where !x2.IsTemplate && !x2.IsDeleted
						select new AccidentRecord
                        {
							Id = x2.Id,
							Date = x2.Date,
							DateControl = x2.DateCreated,
							DateCreated = x2.DateCreated,
							Description = x2.Description,
							UserId = x2.UserId,
							IsWatched = x3 != null,
                        };

			var records = query.ToList();

			<a class="list" href="@Url.Action("list", "records", new { Id = list.Id })">
				<b>@list.Name</b>
				<div>
					@{
						var unseen = records.Where(x => !x.IsWatched).Count();
						if (unseen > 0)
						{
							<span class="unseen" style="display: inline-block;">@unseen <span class="material-icons">fiber_new</span></span>
						}
					}
				<span style="display: inline-block;">@records.Count <span class="material-icons">list</span></span>
				</div>
			</a>
		}
	</div>
}