@model int
@{
	ViewBag.Title = "Список сообщений";
	Layout = "~/Areas/Accidents/Views/Shared/_Layout.cshtml";
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	var list = db.AccidentsLists
		.FirstOrDefault(x => x.Id == Model);

	if (list == null)
	{
		<div>Список не найден</div>
		return;
	}
	else
	{
		ViewBag.Title = list.Name;
	}

	var canCreateRecords = db.AccidentsUsersLists
	   .Where(x => x.UserId == user.UID && x.Role == AccidentListRoles.Writer)
	   .Count() > 0;

	<div class="header">
		<span>Сообщения в списке "@list.Name"</span>
		<a href="@Url.Action("", "records")">Перейти к перечню списков</a>
		@if (canCreateRecords)
		{
			<a href="@Url.Action("add", "records")">Добавить новое сообщение</a>
		}
		@if (user.IsAdmin)
		{
			<a href="@Url.Action("edit", "list", new { Id = Model })">Перейти к настройке списка</a>
		}
	</div>

	var pinnedRecords = db.AccidentsRecordsLists
		.Where(x => x.ListId == list.Id)
		.Select(x => x.RecordId)
		.ToList();

	var query = from x1 in db.AccidentsRecords.Where(x => pinnedRecords.Contains(x.Id))
				from x2 in db.AccidentsViews.LeftJoin(x => x.AccidentId == x1.Id && x.UserId == user.UID)
				where !x1.IsTemplate && !x1.IsDeleted
				orderby x1.DateCreated descending
				select new AccidentRecord
				{
					Id = x1.Id,
					Date = x1.Date,
					DateControl = x1.DateControl,
					DateCreated = x1.DateCreated,
					Description = x1.Description,
					UserId = x1.UserId,
					IsWatched = x2 != null,
					Watch = x2,
				};

	var records = query
		.ToList();

	<div class="view" style="display: table;">
		<div class="tr">
			<div class="th">Описание</div>
			<div class="th c">Просмотрено</div>
		</div>
		@foreach (var record in records)
		{
			<a class="tr @(record.IsWatched ? "viewed" : "")" href="@Url.Action("details", "records", new { Id = record.Id })">
				<div class="td">
					@record.Description
				</div>
				<div class="td c">
					@if (record.Watch == null)
					{
						<span class="bad">Не просмотрено</span>
					}
					else
					{
						<span class="good">@record.Watch.Date.ToString("dd.MM.yyyy")</span>
					}
				</div>
			</a>
		}
	</div>
}