@{
	int r = new Random().Next();
	string theme = Request.Cookies.Get("theme")?.Value ?? "white";
	if (theme == "") { theme = "white"; }

	bool onlyIntranet = ViewBag.OnlyIntranet;

	if (onlyIntranet)
	{
		using (var db = new SiteContext())
		{
			var user = db.Authorize(User);
			var hasUnseenDirectiveDocuments = db.HasUnviewedDocsInDirective(user);

			ViewBag.HasUnseenDirectiveDocuments = hasUnseenDirectiveDocuments;
		}
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title | Витебская ТЭЦ</title>
	<link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="~/Content/css/core.css?@r" />
	<link rel="stylesheet" href="~/Content/css/docs.css?@r" />
</head>
<body class="@theme">
	@Html.Partial("_Nav")

	<div class="content @(ViewBag.IsFix == true ? ViewBag.Fix : "") @(ViewBag.IsCentered == true ? "centered" : "")">
		@RenderBody()
	</div>
</body>
</html>