@{
	int r = new Random().Next();
	string theme = Request.Cookies.Get("theme")?.Value ?? "white";
	if (theme == "") { theme = "white"; }
}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title | Витебская ТЭЦ</title>
	<link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="~/Content/css/core.css?@r" />
	@RenderSection("styles", false)
</head>

<body class="@theme">
	@Html.Partial("_Nav")
	<div class="layout">@RenderBody()</div>

	<script>var host = '@Url.Action(null, "")';</script>
	<script src="~/Content/lib/jquery/jquery-1.12.4.min.js"></script>
	<script src="~/Content/js/core.js?@r"></script>
	@RenderSection("scripts", false)
</body>

</html>