@model LiveFolder
@{
	Layout = null;
}
@using System.Text.RegularExpressions

@if (!string.IsNullOrEmpty(Model.Name))
{
	<h3>@Model.Name</h3>
}

@{
	string absolutePath = @"\\web\Files\Одно окно\" + Model.RelativePath;
	var files = System.IO.Directory
		.GetFiles(absolutePath)
		.Where(x => !x.Contains("~$"))
		.Select(x => new FileInfo(x))
		.OrderByDescending(x => x.LastWriteTime)
		.ToList();

	if (Model.SortByDate)
	{
		var dateRegex = new Regex(@"\d\d.\d\d.\d\d\d\d");

		var sortFiles = files
			.Select(x => new { Date = DateTime.TryParse(dateRegex.Match(x.Name).Value, out DateTime d) ? d : DateTime.MinValue, File = x })
			.OrderByDescending(x => x.Date)
			.ToList();

		foreach (var entry in sortFiles)
		{
			string name = entry.File.Name.Replace(absolutePath, "");
			string type = name.Substring(name.LastIndexOf('.') + 1);
			string text = name.Substring(0, name.LastIndexOf('.'));

			if (!Model.NoImages && "jpg jpeg png gif bmp".Contains(type))
			{
				if (Model.WriteImageBox)
				{
					<div class="imager">
						<img src="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)" title="@text" onclick="" />
						@if (Model.WriteImageCaptions)
						{
							<span>@text</span>
						}
					</div>
				}
				else
				{
					if (Model.WriteImageCaptions)
					{
						<span>@text</span>
					}
					<img src="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)" title="@text" />
				}
			}
			else if ("doc docx pdf rtf".Contains(type))
			{
				<div class="link">
					<b>@entry.Date.ToString("dd.MM.yyyy")</b>
					<span><span class="link_type">@type</span></span>
					<a href="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)">@text</a>
				</div>
			}
		}
	}
	else
	{
		if (Model.SortByName)
		{
			files = files
				.OrderBy(x => x.Name)
				.ToList();
		}

		foreach (var file in files)
		{
			string name = file.Name.Replace(absolutePath, "");
			string type = name.Substring(name.LastIndexOf('.') + 1);
			string text = name.Substring(0, name.LastIndexOf('.')).Replace(type, "");

			if (!Model.NoImages && "jpg jpeg png gif bmp".Contains(type))
			{
				if (Model.WriteImageBox)
				{
					<div class="imager">
						<a href="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)" target="_blank">
							<img src="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)" title="@text" />
						</a>
						@if (Model.WriteImageCaptions)
						{
							<span>@text</span>
						}
					</div>
				}
				else
				{
					if (Model.WriteImageCaptions)
					{
						<span>@text</span>
					}
					<img src="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)" title="@text" />
				}
			}
			else if ("doc docx pdf rtf".Contains(type))
			{
				<div class="link">
					<span><span class="link_type">@type</span></span>
					<a href="http://www.vst.vitebsk.energo.net/files/Одно окно/@(Model.RelativePath.Replace("\\", "/") + name)">@text</a>
				</div>
			}
		}
	}

	if (Model.ViewNested)
	{
		var directories = System.IO.Directory
			.GetDirectories(absolutePath)
			.Select(x => x.Replace("/", "\\").Replace(absolutePath, "").Replace(@"\\web\Files\Одно окно\", ""))
			.ToList();

		foreach (var dir in directories)
		{
			<div style="padding-left: 15px;">
				@Html.Partial("_LiveFolder", new LiveFolder
				{
					Name = dir.Substring(dir.LastIndexOf("\\") + 1),
					RelativePath = dir + "/",
					NoImages = Model.NoImages,
					SortByDate = Model.SortByDate,
					SortByName = Model.SortByName,
					WriteImageBox = Model.WriteImageBox,
					WriteImageCaptions = Model.WriteImageCaptions,
				})
			</div>
			}
		}
	}