@model List<News>

@{
	Dictionary<string, string> NewsTags = ViewBag.NewsTags;
}

@foreach (var n in Model)
{
	var links = (n.Links ?? "").Split(new string[] { ";" }, StringSplitOptions.RemoveEmptyEntries);
	<div class="block">
		<div class="news-info">
			<small>@n.DateAdd.ToString("d MMMM yyyy")</small>
			@if (n.Priority != "low")
			{
				<small title="Новость помечена создателем как содержащая важную информацию" class="highlight">важно</small>
			}
			@if (n.DateExpire > n.DateAdd)
			{
				<small title="Новость будет скрыта по истечению данного времени">@((n.DateExpire - DateTime.Today).ToString("%d")) дн.</small>
			}
			@if (!string.IsNullOrEmpty(n.Tags))
			{
				var tags = n.Tags.Split('|');
				foreach (var tag in tags)
				{
					if (NewsTags.TryGetValue(tag, out string tagName))
					{
						<small class="highlight">@tagName</small>
					}
				}
			}
		</div>
		<div class="news-caption">
			@if (string.IsNullOrEmpty(n.Title))
			{
				var link = links.FirstOrDefault();
				<a href="http://www.vst.vitebsk.energo.net/files/Новости/@n.Id/@link">@link</a>
			}
			else
			{
				<span>@n.Title</span>
			}
		</div>
		@if (string.IsNullOrEmpty(n.Message))
		{
			<div class="news-body" news-id="@n.Id">
				<small class="news-preview" title="Нажмите, чтобы увидеть текст новости">посмотреть</small>
			</div>
		}
	</div>
}