@{
	ViewBag.Title = "Главная";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

	Response.Cookies.Add(new HttpCookie("win") { Path = "/", Expires = DateTime.Now.AddDays(1), Value = User.Identity.Name, SameSite = SameSiteMode.Lax });

	var random = new Random();
	bool open;
	int hasUnseenDirectiveDocuments = 0;
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/site.css" />
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	var values = new Dictionary<string, string>();
	foreach (var constant in db.Constants.ToList())
	{
		values[constant.Keyword] = constant.Value;
	}

	hasUnseenDirectiveDocuments = db.HasUnviewedDocsInDirective(user);

	<div class="left-column">
		@if (user.IsAdmin)
		{
			open = Request.Cookies.Get("admins")?.Value != "0";
			<div class="menu @(open ? "open" : "")">
				<div class="menu_header">
					<table onclick="toggleMenu(this, 'admins')">
						<tr>
							<td><span class="link bold">Админ-ресурсы</span></td>
							<td class="menu_arrow">
								<i class="material-icons">@(open ? "expand_less" : "expand_more")</i>
							</td>
						</tr>
					</table>
				</div>
				<div class="menu_body" id="admins">
					@*<a href="https://10.178.97.9">
							<span class="material-icons" style="color: #f44336">fact_check</span> iSCSI
						</a>
						<a href="https://log1.vst.vitebsk.energo.net:4343/officescan/">
							<span class="material-icons" style="color: #673ab7">cloud_circle</span> OfficeScan
						</a>*@

					<a href="https://frw.vst.vitebsk.energo.net:4081/admin">
						<span class="material-icons" style="color: #e73a27;">security</span> Kerio Control
					</a>
					<a href="http://jabber.vst.vitebsk.energo.net:9090/login.jsp?url=%2Findex.jsp">
						<span class="material-icons" style="color: #f47431;">headset_mic</span> Openfire
					</a>
					<a href="http://www.vst.vitebsk.energo.net/devin/devices/">
						<span class="material-icons" style="color: #e6b451;">desktop_windows</span> DEVIN
					</a>
					<a href="@Url.Action("", "admin")">
						<span class="material-icons" style="color: #16c94d;">admin_panel_settings</span> Настройки сайта
					</a>
					<a href="https://backup.vst.vitebsk.energo.net:10001/ui/">
						<span class="material-icons" style="color: #6abeff;">backup</span> BACKUP vCenter Server
					</a>
					<a onclick="document.getElementById('opc_panel').style.display = 'block'">
						<span class="material-icons" style="color: #129fca;">gamepad</span> iNOPC
					</a>
					<div id="opc_panel" onclick="document.getElementById('opc_panel').style.display = 'none'" onmouseleave="document.getElementById('opc_panel').style.display = 'none'">
						<a href="http://alpha.vst.vitebsk.energo.net:81">ALPHA</a>
						<a href="http://ic1.vst.vitebsk.energo.net:81">IC 1</a>
						<a href="http://opc.vst.vitebsk.energo.net:81">OPC</a>
						<a href="http://remote.vst.vitebsk.energo.net:81">REMOTE</a>
					</div>
					<a href="http://develop.vst.vitebsk.energo.net/">
						<span class="material-icons" style="color: #0074d5; ">send</span> Logger
					</a>
					<a href="http://www.vst.vitebsk.energo.net/scanlan">
						<span class="material-icons" style="color: #b270ed;">wifi_tethering</span> ScanLan
					</a>
					@*<a href="http://ic1.vst.vitebsk.energo.net:81/">
							<span class="material-icons" style="color: #ff9800">gamepad</span> iNOPC IC1
						</a>
						<a href="http://ups.vst.vitebsk.energo.net:81/">
							<span class="material-icons" style="color: #ff9800">gamepad</span> iNOPC UPS
						</a>*@
				</div>
			</div>
		}

		@{ open = Request.Cookies.Get("rup-links")?.Value != "0"; }
		<div class="menu @(open ? "open" : "")">
			<div class="menu_header">
				<table onclick="toggleMenu(this, 'rup-links')">
					<tr>
						<td><span class="link bold">Ресурсы РУП "Витебскэнерго"</span></td>
						<td class="menu_arrow">
							<i class="material-icons">@(open ? "expand_less" : "expand_more")</i>
						</td>
					</tr>
				</table>
			</div>
			<div class="menu_body" id="rup-links">
				<a href="http://www.vitebsk.energo.net/">
					<span class="material-icons" style="color: #a3c62b;">language</span> Сайт
				</a>
				<a href="http://cloud.vitebsk.energo.net/">
					<span class="material-icons" style="color: #03a9f4;">cloud_upload</span> Облачное хранилище
				</a>
				<a href="http://chat.vitebsk.energo.net/">
					<span class="material-icons" style="color: #1e6bf7;">forum</span> Корпоративный чат
				</a>
			</div>
		</div>

		@{ open = Request.Cookies.Get("operations")?.Value != "0"; }
		<div class="menu @(open ? "open" : "")">
			<div class="menu_header">
				<table onclick="toggleMenu(this, 'operations')">
					<tr>
						<td><span class="link bold">Оперативное</span></td>
						<td class="menu_arrow">
							<i class="material-icons">@(open ? "expand_less" : "expand_more")</i>
						</td>
					</tr>
				</table>
			</div>
			<div class="menu_body" id="links">
				<a href="~/news/">
					<span class="material-icons" style="color: #ff5050;">article</span> Новости
				</a>
				<a href="http://10.178.9.31/ask/">
					<span class="material-icons" style="color: #f45936;">laptop</span> АСК "Выбросы"
				</a>
				<a href="http://asu.vst.vitebsk.energo.net/">
					<span class="material-icons" style="color: #f19018;">settings</span> АСУ
				</a>
				@if (user.Groups.Contains("group_checkpoint") || user.Groups.Contains("group_ASUP") || user.Groups.Contains("group_gen") || user.Groups.Contains("group_tb") || user.Groups.Contains("group_ok"))
				{
					<a href="http://www.vst.vitebsk.energo.net/checkpoint/">
						<span class="material-icons" style="color: #ffa700;">videocam</span> Проходная
					</a>
				}
				<a href="https://email.vst.vitebsk.energo.net">
					<span class="material-icons" style="color: #69b307;">email</span> Почта
				</a>
				@{
					var q1 = from record in db.AccidentsRecords
							 from recordList in db.AccidentsRecordsLists.LeftJoin(x => x.RecordId == record.Id)
							 from list in db.AccidentsLists.LeftJoin(x => x.Id == recordList.ListId)
							 from listUser in db.AccidentsUsersLists.LeftJoin(x => x.ListId == list.Id)
							 from view in db.AccidentsViews.LeftJoin(x => x.AccidentId == record.Id && x.UserId == user.UID)
							 where listUser.UserId == user.UID && !record.IsTemplate && !record.IsDeleted && view == null
							 orderby record.DateControl descending, list.Name
							 select new
							 {
								 Record = new { record.Id, record.DateControl, record.Description },
							 };

					var notViewedAccidents = q1.Count();

					<a href="@Url.Action("", "accidents")">
						<span class="material-icons" style="color: #37d953;">info</span> Информационные сообщения
						@if (notViewedAccidents > 0)
						{
							<i class="counter" title="Есть непросмотренные сообщения">@notViewedAccidents</i>
						}
						else
						{
							<i title="Всё просмотрено!" style="display: inline-block; position: relative; top: -.5em;"><span class="material-icons" style="color: #20b332; font-size: 18px;">done</span></i>
						}
					</a>
				}
				@if (user.Groups.Contains("group_orders"))
				{
					<a href="@Url.Action("", "orders")">
						<span class="material-icons" style="color: #1fbbbb;">list_alt</span> План работ
					</a>
				}
				@if (user.Groups.Contains("group_pto") || user.Groups.Contains("group_boss") || user.Groups.Contains("group_ASUP") || user.Groups.Contains("group_tb") || user.UName == "tai_duty" || user.UName == "gcu_user" || user.UName == "elec_duty" || user.UName == "el_mast" || user.UName == "el_mast2")
				{<a href="http://web.vst.vitebsk.energo.net/mnemo/#TEC_osn_oborud">
						<span class="material-icons" style="color: #189dc5;">view_column</span> Схема основного оборудования ТЭЦ
					</a>
					<a href="http://web.vst.vitebsk.energo.net/mnemonica/el_main">
						<span class="material-icons" style="color: #3a7ffd;">bolt</span> Главная электрическая схема ТЭЦ
					</a>
				}
				@if (user.Groups.Contains("group_uchet") || user.Groups.Contains("group_ASUP"))
				{
					<a href="http://info.energo.net:9858/Home/Identificate">
						<span class="material-icons" style="color: #0546bd;">cast</span> Каскад
					</a>
					<a href="http://info.energo.net:8088/Home/Vitebsktc">
						<span class="material-icons" style="color: #0546bd;">cast</span> 777
					</a>
				}
				<a href="~/auto/">
					<span class="material-icons" style="color: #6b3ef7;">phone_in_talk</span> Заявки на автомобиль
				</a>
				@if ("gen gen_zam eng_gen eng_zam".Contains(user.UName) || user.Groups.Contains("group_ttc") || user.Groups.Contains("group_ASUP"))
				{
					<a href="http://track.vitebsk.energo.by">
						<span class="material-icons" style="color: #913bdf;">local_shipping</span> Трекер автотранспорта
					</a>
				}
				<a href="~/site/birthdays/">
					<span class="material-icons" style="color: #cd27c8;">cake</span> Дни рождений
				</a>
				@if (user.Groups.Contains("group_inet") || user.Groups.Contains("group_inet_restricted") || user.Groups.Contains("group_gen"))
				{
					<a href="http://frw.vst.vitebsk.energo.net:4080/login/?NTLM=1">
						<span class="material-icons" style="color: #d40062;">language</span> Просмотр интернет статистики
					</a>
					<script>
						try {
							var xhr = new XMLHttpRequest()
							xhr.open('GET', 'http://frw.vst.vitebsk.energo.net:4080/internal/ntlm/dologin.php?', true)
							xhr.withCredentials = true
							xhr.send()
						} catch (e) { }
					</script>
				}
				@*@if (user.Groups.Contains("group_violations"))
					{
						<a href="~/violations/">
							<span class="material-icons" style="color: #ffc107;">assignment_ind</span> Накопительный учет нарушений
						</a>
					}*@
				@*<a href="http://web.vst.vitebsk.energo.net:88">
						<span class="material-icons" style="color: #2196f3;">email</span> Почта (старая)
					</a>*@
			</div>
		</div>

		@{ open = Request.Cookies.Get("usefullinks")?.Value != "0"; }
		<div class="menu @(open ? "open" : "")">
			<div class="menu_header">
				<table onclick="toggleMenu(this, 'usefullinks')">
					<tr>
						<td><span class="link bold">Полезные ссылки</span></td>
						<td class="menu_arrow">
							<i class="material-icons">@(open ? "expand_less" : "expand_more")</i>
						</td>
					</tr>
				</table>
			</div>
			<div class="menu_body">
				<a href="http://www.president.gov.by/" style="height:3.5em;">Официальный Интернет-портал Президента Республики Беларусь</a>
				<a href="http://www.odu.energo.net/">ГПО "БелЭнерго"</a>
				<a href="http://energodoc.by/">"Энергодок"</a>
				<a href="http://www.brest.energo.net/">"БрестЭнерго"</a>
				<a href="http://www.gomel.energo.net/">"ГомельЭнерго"</a>
				<a href="http://www.grodno.energo.net/">"ГродноЭнерго"</a>
				<a href="http://www.minsk.energo.net/">"МинскЭнерго"</a>
				<a href="http://www.mogilev.energo.net/">"МогилевЭнерго"</a>
				<a href="http://www.vst.vitebsk.energo.net/frncpi.html">Pravo.by</a>
				<a href="http://www.icetrade.by/">IceTrade</a>
			</div>
		</div>
	</div>

	<div class="center">
		<div id="notes">
			@Html.Action("Notes", "Site")
		</div>
		<div id="contacts"></div>
		<div id="news">
			@Html.Action("List", "News", new { take = 20 })
		</div>
	</div>

	<div class="right-column" id="mnemo">

		<div class="widget">
			<a href="~/phonebook" class="link bold">
				Телефонный справочник
				<i class="material-icons preloader" id="preloader">sync</i>
			</a>
			<input type="search" class="search" placeholder="введите запрос и нажмите Enter" autofocus />
			<a class="widget_link" style="margin-top: .5em;" href="http://phone.vitebsk.energo.net/">Справочник РУП "Витебскэнерго"</a>
		</div>

		<div class="widget" onclick="document.getElementById('actions').style.display = 'block'">
			<div class="actions_button" title="Нажмите, чтобы увидеть список действий" style="cursor: pointer;">
				<span class="material-icons">api</span>
				&emsp;
				<b>Действия</b>
			</div>
			<div id="actions" onmouseleave="this.style.display = 'none'" onclick="this.style.display = 'none'">
				<a class="widget_link" onclick="printReport()">Получить карточку учёта выч. техники</a>
				@if (user.UName == "vtg" || user.UName == "void")
				{
					<a class="widget_link" onclick="printReportMol('КОСТЮЧЕНКО Т.Г.')">Получить карточку учёта по М.О.Л.</a>
				}
				else if (user.UName == "esmal" || user.UName == "crow")
				{
					<a class="widget_link" onclick="printReportMol('ОСМОЛОВСКИЙ А.В.')">Получить карточку учёта по М.О.Л.</a>
				}
				<span class="widget_break"> </span>
				@using (var devin = new DatabaseLayer.Devin.DevinContext())
				{
					var printers = devin.Devices
						.Where(x => x.Users.Contains(user.UName))
						.ToList();

					int numberOfPrinters = printers
						.Where(x => x.Users.Split(';').Contains(user.UName))
						.Count();

					if (numberOfPrinters > 0 || user.IsAdmin)
					{
						<span class="widget_break"> </span>
						if (numberOfPrinters > 0)
						{
							<a class="widget_link" href="/pages/cartridges/">Оставить заявку на замену картриджа</a>
						}
						<a class="widget_link" href="/pages/cartridges/home/list">Список заявок на замену картриджей</a>
					}
				}
			</div>
		</div>

		<div title='Нажмите для перехода к мнемосхеме "SONAR"' class="widget" onclick="document.location='http://asu.vst.vitebsk.energo.net/#/http://insql.vst.vitebsk.energo.net/mnemonica/sonar/'">
			<div class="link bold">Основные параметры ТЭЦ</div>
			<div id="station-parameters">
				
			</div>
		</div>

		<div class="widget" style="text-align: center;" title="Нажмите для перехода к просмотру расписания дней рождений сотрудников" onclick="location='@Url.Action("birthdays", "site")'">
			@{
				var date = DateTime.Now.AddDays(-1);
				var yesterdayBirthdays = db.Persons
					.Where(x => x.BirthDate.Day == date.Day && x.BirthDate.Month == date.Month)
					.Select(x => x.Family)
					.ToList();

				date = date.AddDays(1);
				var todayBirthdays = db.Persons
					.Where(x => x.BirthDate.Day == date.Day && x.BirthDate.Month == date.Month)
					.Select(x => x.Family)
					.ToList();

				date = date.AddDays(1);
				var tomorrowBirthdays = db.Persons
					.Where(x => x.BirthDate.Day == date.Day && x.BirthDate.Month == date.Month)
					.Select(x => x.Family)
					.ToList();

				if (yesterdayBirthdays.Count > 0 || todayBirthdays.Count > 0 || tomorrowBirthdays.Count > 0)
				{
					if (yesterdayBirthdays.Count > 0)
					{
						<div class="weather_another">
							<i>Вчера был день рождения:</i><br />
							@foreach (var s in yesterdayBirthdays)
							{
								<div class="blue">@s</div>
							}
						</div>
					}

					if (todayBirthdays.Count > 0)
					{
						<div class="weather_today">
							<b>
								Поздравляем с днем рождения!
							</b>
							@foreach (var s in todayBirthdays)
							{
								<div class="blue">@s</div>
							}
						</div>
					}

					if (tomorrowBirthdays.Count > 0)
					{
						<div class="weather_another">
							<i>День рождения завтра:</i><br />
							@foreach (var s in tomorrowBirthdays)
							{
								<div class="blue">@s</div>
							}
						</div>
					}
				}
				else
				{
					<span>В ближайшее время нет дней рождений</span>
				}
			}
		</div>

		<div class="widget">
			<table>
				<tr>
					<td width="40px"><img src="~/Content/images/money.rub.gif" /></td>
					<td>100 российских рублей</td>
					<td class="blue">@values["RUB"]</td>
				</tr>
				<tr>
					<td><img src="~/Content/images/money.eur.gif" /></td>
					<td>1 евро</td>
					<td class="blue">@values["EUR"]</td>
				</tr>
				<tr>
					<td><img src="~/Content/images/money.usd.gif" /></td>
					<td>1 доллар США</td>
					<td class="blue">@values["USD"]</td>
				</tr>
			</table>
		</div>

		<div class="widget" id="metals-container">
			@Html.Action("MetalCosts")
		</div>

		<div class="widget" title="Нажмите для перехода к просмотру прогноза погоды" onclick="location = 'http://insql.vst.vitebsk.energo.net/pages/weather/?date=@DateTime.Today'">
			<a class="link bold" href="http://insql.vst.vitebsk.energo.net/pages/weather/?date=@DateTime.Today.ToString("ddMMyyyy")">Прогноз погоды</a>
			@{
				try
				{
					var html = File.ReadAllText(@"\\web\wwwroot\Content\html\weather\index.html");
					<div>
						@Html.Raw(html)
					</div>
				}
				catch (Exception e)
				{
					<div class="hide">@e.Message</div>
				}
			}
			<div>
				Сейчас <div class="blue" id="weather" style="display: inline; font-size: 1.2em;" title="Текущая температура на улице (основная мазутнонасосная)"></div> °C
				&emsp;
			</div>
		</div>
	</div>
}

@section scripts {
	<script src="~/Content/js/news.js"></script>
	<script>
		getWeather()
		getNotifications()
		getStationParameters()
		setInterval(getWeather, 5000)
		setInterval(getStationParameters, 5000)
		setInterval(getNotifications, 60000)

		function getWeather() {
			fetch('@Url.Action("Weather", "Site")?r=' + Math.random())
				.then(res => res.text())
				.then(text => {
					document.getElementById('weather').innerHTML = Number(text).toFixed(2)
				})
		}

		function getNotifications() {
			fetch('@Url.Action("Notes", "Site")?r=' + Math.random())
				.then(res => res.text())
				.then(text => {
					document.getElementById('notes').innerHTML = text
				})
		}

		function getStationParameters() {
			fetch('@Url.Action("StationParameters", "Site")?r=' + Math.random())
				.then(res => res.text())
				.then(text => {
					document.getElementById('station-parameters').innerHTML = text
				})
		}

		function notesToggle() {
			var $menu = $('.notifications');
			var $body = $menu.find('.notifications_body');
			var $arrow = $menu.find('.notifications_arrow');
			var state = '';
			if ($menu.hasClass('open')) {
				$body.slideUp(100, function () {
					$menu.removeClass('open');
				});
				state = '';
			} else {
				$body.slideDown(100);
				$menu.addClass('open');
				state = 'open';
			}
			setCookie('notes', state, { expires: 9999999999 });
			$arrow.toggleClass('ic-arrow-up ic-arrow-down');
		}

		function notesSee(obj, id) {
			fetch('@Url.Action("NoteSee", "Site")/' + id)
				.then(() => obj.closest('tr').remove())
		}

		function notesSeeAll() {
			fetch('@Url.Action("NoteSeeAll", "Site")')
				.then(() => document.getElementById('notes').remove())
		}

		function printReport() {
			fetch('http://www.vst.vitebsk.energo.net/site/printreport', { method: 'POST' })
				.then(res => res.json())
				.then(json => {
					if (json.Link) {
						let a = document.createElement('a')
						document.body.appendChild(a)
						a.href = json.Link
						a.click()
					}
					if (json.Error) {
						alert(json.Error)
					}
				})
		}

		function printReportMol(mol) {
			var form = new FormData()
			form.append('mol', mol)
			fetch('http://www.vst.vitebsk.energo.net/site/printReportMol', { method: 'POST', body: form })
				.then(res => res.json())
				.then(json => {
					if (json.Link) {
						let a = document.createElement('a')
						document.body.appendChild(a)
						a.href = json.Link
						a.click()
					}
					if (json.Error) {
						alert(json.Error)
					}
				})
		}

		function MetalCosts(date) {
			fetch('@Url.Action("MetalCosts", "Site")' + '?date=' + date + "&r=" + Math.random())
				.then(res => res.text())
				.then(text => {
					document.getElementById('metals-container').innerHTML = text
				})
		}

		document.querySelector('.search').addEventListener('search', function (ev) {
			var value = ev.target.value
			if (value.length > 1) {
				preload()
				fetch('@Url.Action("contacts", "guest")?search=' + encodeURIComponent(value))
					.then(function (res) { return res.text() })
					.then(function (text) {
						if (text.length > 0) {
							show(text)
						}
						else {
							hide()
						}
					})
			}
			else {
				hide()
			}

			function preload() {
				document.getElementById('preloader').style.display = 'block'
			}

			function show(text) {
				document.getElementById('preloader').style.display = 'none'
				document.getElementById('news').style.display = 'none'
				document.getElementById('contacts').innerHTML = text
				document.getElementById('contacts').style.display = 'block'
			}

			function hide() {
				document.getElementById('preloader').style.display = 'none'
				document.getElementById('contacts').style.display = 'none'
				document.getElementById('contacts').innerHTML = ''
				document.getElementById('news').style.display = 'block'
			}
		})
	</script>
}