@model IEnumerable<Notification>

@if (Model.Count() > 0)
{
	foreach (var note in Model)
	{
		<div class="block notes" onclick="notesSee(this, @note.N_ID)" width="40px">
			<div>
				<small>
					<strong>@note.N_DateCreated.ToString("d MMMM yyyy HH:mm:ss")</strong>
					&emsp; @note.N_App
				</small>
			</div>
			<p>
				@note.N_Note
			</p>
			@if (!string.IsNullOrEmpty(note.N_Link))
			{
				<div>
					<a href="@note.N_Link">перейти</a>
				</div>
			}
		</div>
	}
}
else
{
	<div class="block">Непрочитанных уведомлений нет</div>
}